$inputBackground: #E8E8E8;
.header-input {
    margin-right: auto;
    margin-left: 30px;
    &__form {
        display: flex;
        width: 250px;
        justify-content: center;
        background-color: $inputBackground;
        @media screen and (max-width: 992px) {
            width: 200px;
        }
    }
    &__input {
        border-radius: 6px 0 0 6px;
        padding: 5px 10px 5px 10px;
        border: none;
        background-color: $inputBackground;
        width: 100%;
        flex: 1 0 95%;
        height: 25px;
        &:focus-visible {
            outline: none;
        }
    }
    &__search-button {
        border-radius: 0 6px 6px 0;
        background-color: $inputBackground;
        border: none !important;
        cursor: pointer;
        flex: 0 1 5%
    }
}

@media screen and (max-width: 768px) {
    .header-input {
        &__form {
            width: 200px;
        }
    }
}

@media screen and (max-width: 576px) {
    .header-input {
        margin-left: 20px;
        &__form {
            width: 70px;
        }
        .onInputMode {
            width: 170px;
        }
    }
}