.full-description {
    &__data {
        display: flex;
        align-items: center;
    }
    &__image {
        img {
            max-width: 600px
        }
    }
    &__item {
        font-weight: 700;
    }
    &__name {
        margin: 10px 0;
        text-align: center;
        font-size: 22px;
    }
    &__text-description {
        margin-left: 10px;
    }
}

.description-title {
    display: block;
}