$filmTitleColor: #fff;
$GreyBackgroundColor: #2a2a2a;
.film-card {
    background-color: $GreyBackgroundColor;
    margin: 10px 0 10px 0;
    border-radius: 6px;
    position: relative;
    padding-left: 5px;
    a {
        text-decoration: none;
        outline: none;
    }
    &__film-title {
        font-weight: 700;
        font-size: 18px;
        color: $filmTitleColor;
        display: inline-block;
        margin: 5px 0;
    }
    &__grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 5fr;
        align-items: center;
    }
    &__img {
        margin-right: 10px;
        img {
            object-fit: contain;
            max-width: 400px;
            max-height: 400px;
            height: 100%;
        }
    }
    &__desc-title {
        font-size: 18px;
        font-weight: 700;
    }
    &__desc-section {
        display: block;
    }
}