$headerBackgroundImg: "../../common/png/bg.png";
$headerColor: #fff;
.header {
    background-image: url($headerBackgroundImg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    padding: 0 10px 0 10px;
    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            color: $headerColor;
            font-weight: 700;
            letter-spacing: 1px
        }
    }
}

@media screen and (min-width: 1130px) {
    .header {
        height: 210px;
    }
}

@media screen and (min-width:1320px) {
    .header {
        height: 250px;
    }
}

@media screen and (min-width:1680px) {
    .header {
        height: 300px;
    }
}

@media screen and (max-width: 576px) {
    .header {
        height: 100px;
        &__wrapper {
            flex-direction: column;
        }
        &__name {
            align-self: start;
        }
        &__user {
            align-self: end;
            align-content: end;
        }
    }
}